{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>doroko.com{% block title %} {% endblock %}</title>
	<link rel = "stylesheet" type="text/css" href="/static/css/bootstrap.css" />  
	<link rel = "stylesheet" type="text/css" href="/static/css/style_signup.css" />  
	<link rel = "stylesheet" type="text/css" href="/static/css/style.css" />  
	<link href="/static/css/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
	<link rel = "stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.css" />
	<link rel = "stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />


</head>

<body >
{% if request.session.new_user == 1 %}
<div class=" col-md-12 text-center">
<br>
	<span class="fa-stack fa-2x text-muted">
		<i class="fa fa-circle fa-stack-2x "></i>
		 <i class="fa fa-user fa-stack-1x fa-inverse"></i>
		<i class="icon-desc ">Register</i>
	 </span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-circle text-muted"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-circle text-muted"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<span class="fa-stack text-dark-gray fa-2x">
	<i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
		<i class="icon-desc">Edit Profile</i>
	</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-circle text-muted"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-circle text-muted"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<span class="fa-stack text-muted fa-2x">
	<i class="fa fa-circle   fa-stack-2x"></i>
	  <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
		<i class="icon-desc ">Add a post</i>
	</span>
</div>
<br>
<br>
<br>
{% endif %}
<br>
<br>
<br>
	
	<div class="col-md-12">
		<div class="col-xs-12 col-md-4 col-sm-8 col-md-offset-4 panel panel-default"><h1 class="text-center">My Stuff</h1>

			{% for owned in all_owned_obj %}
				<form action="" method="post" class="form-horizontal">	
				<a class="tag-name" href="/search/?q={{ owned.rating_tag.tag.name }}"> {{ owned.rating_tag.tag.name }}
				<input type="hidden" name="delete-stuff" />
				<input type="hidden" name="stuff_id" value="{{ owned.id }}" />
				<button type="submit" class="btn btn-default btn-xs"><b>x</b></button>
				</a>
			  {% csrf_token %}
				</form>

			{% endfor %}

			<form action="" method="post" class="form-horizontal">
				<div class="form-group">				
					<div class="col-md-12">
						{% render_field form.stuff_name class="form-control  input-sm simplebox" id="mystuff_tag_box" placeholder="Add stuff you own" autocomplete="off" %}				
					</div>
				</div>
				<div class="form-group">				
					<div class="col-md-4 ">
					<b>Rating</b>
					</div>
					<div class="col-md-8">
						{% render_field form.rating id="" class="form-control  input-sm simplebox" placeholder=""  %}					
					
					</div>
				</div>
				<div class="form-group">				
					<div class="col-md-6 col-sm-6 col-xs-12">
						<button type="submit" value="Add" class="btn btn-block btn-danger pull-left"><b>Add Stuff</b></button>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 text-center">		
					<a href ="{% url 'my_office' %}" class="text-muted btn btn-default btn-block pull-right" role="button"> Go to Profile&nbsp;&nbsp;<span class="fa fa-arrow-right"></span></a>					
					</div>					

				</div>
				<input type="hidden" name="add-stuff" />
			  {% csrf_token %}
			</form>
			</div>
		</div>
		
	</body>
</html>

<script type="text/javascript" src="/static/js/bootstrap-tagsinput.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.10.4.custom.js"></script>
<script src="{{ STATIC_URL }}js/typeahead.js"></script>
<script>
$('#mystuff_tag_box').tagsinput({
typeahead: {
source: function (query, process) {
	return $.getJSON(
	'{% url "autocomplete_tag" %}',
	{ term: query },
	function (data) {
	});
	},
	freeInput: true,
	},	
	maxTags: 1,
	confirmKeys: [13, 44,32],	
});
</script>
