{% load widget_tweaks %}
{% load thumbnail %}

<!DOCTYPE html>
<head>
	<title>doroko.com{% block title %} {% endblock %}</title>
	<link rel = "stylesheet" type="text/css" href="/static/css/bootstrap_small.min.css" />  
<style>
#website-cover{
	background-color: rgba(143,54,0,0.1);
	background-image: url({{ STATIC_URL }}/img/products_tmb.png);
	background-repeat: repeat;
	position:fixed;
	width:100%;
	height:100%;
	margin:0px!important;
	padding:0px!important;
	overflow:hidden;
}
.setting-span {
    width: 150px;
    text-align: left;
}
.btn-danger{
    background-color: #E35E0E;
}

</style>
</head>

<body >
	<div id="website-cover"></div>	
	<br><br><br>
		<div class="row col-md-12">
		<div class="col-md-4 col-md-offset-4 panel panel-default">  <h1 class="text-center">Reset password</h1>
	
		<form action="" method="post" class="form-horizontal" >      
		<div class="form-group">				
			<div class="col-xs-12 col-md-12">
				<label for="profile-img" class="sr-only">Name</label>
				{% render_field form.email type="email" class="form-control input-sm simplebox" id="InputEmail" placeholder="email" %}				
				{% if form.email.errors %}
					<p class="text-danger">{{ form.email.errors.as_text }}</p>				
				{% endif %}

			</div>
		</div>
	
		<div class="form-group"> 
			<div class="col-xs-6"> 
				<p>
				<button button="submit" class="btn btn-block btn-danger" ><b>Reset now</b></button>	
				<input type="hidden" name="details">   
				</p>
			</div>
			<div class="col-xs-6 ">		
				<a href ="{% url 'login' %}" class="text-muted btn btn-default btn-block pull-left" role="button"> <span class="fa fa-reply-all"></span> &nbsp;&nbsp;Back to Login</a>					
			</div>									

		</div> 

      {% csrf_token %}
  </form>

	</div>
</div>
		
	</body>
</html>
