{% load widget_tweaks %}
{% load thumbnail %}

<!DOCTYPE html>
<head>
	<title>doroko.com{% block title %} {% endblock %}</title>
	<link rel = "stylesheet" type="text/css" href="/static/css/bootstrap_small.min.css" />  
<style>
#website-cover{
	background-color: rgba(143,54,0,0.1);
	background-image: url({{ STATIC_URL }}/img/products_tmb.png);
	background-repeat: repeat;
	position:fixed;
	width:100%;
	height:100%;
	margin:0px!important;
	padding:0px!important;
	overflow:hidden;
}
.setting-span {
    width: 150px;
    text-align: left;
}
.btn-danger{
    background-color: #E35E0E;
}

</style>
</head>

<body >
	<div id="website-cover"></div>	

		<br>
		<br>
		<br>

		<div class="col-md-12">
		<div class="col-md-4 col-md-offset-4 panel panel-default">  <h1 class="text-center">Reset password </h1>
	
		<form action="" method="post" class="form-horizontal" >      
		<div class="form-group">				
			<div class="col-xs-12 col-md-12">
				{% render_field form.new_password1 type="password" class="form-control input-sm simplebox" id="" placeholder="New password" %}				
			</div>
		</div>			
		<div class="form-group">				
			<div class="col-xs-12 col-md-12">
				{% render_field form.new_password2 type="password" class="form-control input-sm simplebox" id="" placeholder="Confirm Password" %}				
			</div>
		</div>			
		{% csrf_token %}
		<div class="form-group">				
		<div class="col-md-6 pull-right"> 
			<p>
		<button type="submit" value="Add" class="btn btn-block  btn-danger"><b>Reset Password</b></button>
			</p>
		</div>
		</div>

  </form>
	</div>
</div>
		
	</body>
</html>
