{% load widget_tweaks %}
{% load thumbnail %}
<!DOCTYPE html>
<head>
	<title>doroko.com{% block title %} {% endblock %}</title>
	<link rel = "stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />  
</head>
<body >
	<div class="top-buffer"></div>
		<br>
		<br>

		<div class="row col-md-12">
		<div class="col-md-4 col-md-offset-4 panel panel-default"> 	
		<br>

		<p class="lead text-center">Your password has been set.  You may go ahead and log in now using new passoword.</p>
		<p class="lead 	text-center"><a href="{% url 'login' %}"  class="btn btn-lg btn-danger "><b>Login</b></a></p>
	</div>
</div>
		
	</body>
</html>


