<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Terms and Condition of SellBig.in | Free Classified Ads</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width">
	<meta property="og:title" content="Free Classified Ads , Post a add for free , Discuss Rate and review products , Online classified for free" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.sellbig.in" />
	<meta property="og:description" content="Sellbig offers free classfied ads, Post add for free for many categories like Vehicles, Household, Electronics, Mobile, Media,Kids, Pets and Health" />
	<link rel = "stylesheet" type="text/css" href="/static/css/bootstrap_small.min.css" />  
<body>
	<style>
#website-cover{
	background-color: rgba(143,54,0,0.1);
	background-image: url({{ STATIC_URL }}/img/products_tmb.png);
	background-repeat: repeat;
	position:fixed;
	width:100%;
	height:100%;
	margin:0px!important;
	padding:0px!important;
	overflow:hidden;
}
.bottom-divider{
	border-bottom: 1px solid rgb(233, 228, 219)!important;
}
.btn-facebook{
border:3px solid #3b5998!important;
color:#FFF;
background-color:#3b5998;
}
.btn-danger{
background-color: rgb(227,94,14)!important;
}
.btn-facebook:hover{
border-bottom:3px solid #3C4F78!important;
color:#FFF!important;
}

</style>	
<body>
<div id="website-cover"></div>	
<br>
<div class="col-xs-12 col-md-6 col-md-offset-3 panel panel-default">
<h3 class="col-xs-12">
<div class="row">
<div class="pull-right">
		<a class="btn btn-default " href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i></a>
</div>
<div class="">
Sellbig.in Terms and Conditions ("Terms")
</div>
</div>
</h3>

<h5 class="text-muted"> Last updated: (15th Sep, 2015)</h5>
<p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
</p>

<p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
</p>
<b>Introduction</b>
<p>
These are the terms and conditions governing your use of the Site (www.sellbig.in). By accessing Sellbig you acknowledge, accept and agree to the following terms, which are designed to make sure that Sellbig works for everyone. These terms are effective from the time you log in to the Site. By accepting this, you are also accepting and agreeing to be bound by the Privacy Policy.
</p>
<b>Eligibility</b>
<p>
You must be at least 18 years of age to use the Service offered by us. If you are below 18 years of age, you are strictly prohibited from registering on our Website. By using the Service in any manner, you are agreeing to comply with the Terms of Use contained herein.
</p>
<b>Registration and Use</b>
<p>
You agree and understand that www.sellbig.in is just a platform that facilitates communication for the purposes of advertising and distributing information pertaining to goods and/or services. You further agree and understand that we do not endorse, market or promote any of the listings, postings or information, nor do we at any point in time come into possession of or engage in the distribution of any of the goods and/or services, you have posted, listed or provided information about on our site.
</p>
<p>While making use of Sellbig you agree that your use of the Site shall be strictly governed by these terms and conditions.
</p>
<ul>
<li>You agree that you are the lawful owner having all rights, title and interest in your information, and further agree that you are solely responsible and accountable for Your Information and that we act as a mere platform for your online distribution and publication of Your Information.</li>
<li>If you use the Site by registering on the Site, you are responsible for maintaining the confidentiality of your User ID, password and email address and for restricting access to your computer and your Sellbig account, and you are responsible for all activities that occur under your User ID and password. If you access the Site other than by registration on the Site, the terms remains applicable to you in the same manner as if you are a registered user on the Site.</li>
<li>We may permit you to register with the Website using your Facebook account. If you complete your registration via Facebook all applicable Facebook terms of use and any changes to the same shall apply to you in addition to these Terms of Use.</li>
</ul>
<b>You agree that your listing, posting and/or Information: </b>
<ul>
<li>shall not be fraudulent, misrepresent, mislead or pertain to the sale of any illegal, counterfeit, stolen goods and/or services;</li>
<li>shall not pertain to goods , services of which you are not the lawful owner or you do not have the authority or consent to Post; </li>
<li>shall not infringe any intellectual property, trade secret, or other proprietary right or rights of publicity or privacy of any third party;</li>
<li>shall not consist of material that is an expression of bigotry, racism or hatred based on age, gender, race, religion, caste, class, lifestyle preference, and nationality and/or is in the nature of being derogatory, slanderous to any third party; </li>
<li>shall not promote Prostitution or any other service in the same nature or Indecent representation of women which violates the contemporary standards of morality and decency in Indian society;</li>
<li>shall not contain Information or items that are defamatory, libelous, threatening or abusive in nature; </li>
<li>shall not be obscene, contain pornography;</li>
<li>shall not distribute or contain spam, multiple/chain letters, or pyramid schemes in any of its forms;</li>
<li>shall not distribute viruses or any other technologies that may harm Sellbig or the interests or property of Sellbig users or impose an unreasonable load on the infrastructure or interfere with the proper working of Sellbig;</li>
<li>shall not, directly or indirectly, offer, attempt to offer, trade or attempt to trade in any goods and services, the dealing of which is prohibited or restricted in any manner under the provisions of any applicable law, rule, regulation or guideline for the time being in force;</li>
<li>shall not be placed in a wrong category or in an incorrect area of the site;</li>
<li>shall not list or post or pertain to information that is either prohibited or restricted under the laws of the Republic of India.</li>
</ul>

<b>Content</b>

<p>The Site contains content which includes Your Information, Sellbig's information and information from other users. You agree not to copy, modify, or distribute such content (other than Your Information). When you give us any content as part of Your Information, you are granting us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable right and license to use, reproduce, publish, translate, distribute, perform and display such content (in whole or part) worldwide through the Site as well as on any of our affiliates or partners websites, publications and mobile platform. We need these rights with respect to the content in Your Information in order to host and display your content. If you believe that there is a violation, please notify us by sending mail to support@sellbig.in
</p>

<b>Personal Information</b>
<p>By using Sellbig, you agree to the collection, transfer, storage and use of any personal information provided by you on the Site by Sellbig. You also agree to receive marketing communications from us unless you specifically indicate otherwise in writing to us through support@sellbig.in
</p>
<b>Third Party Content and Services</b>
<p>Sellbig may provide, on its site, links to sites operated by other entities. If the user decides to view this site, they shall do so at their own risk, subject to that site’s terms and conditions of use and privacy policy that may be different from those of this site. It is the user’s responsibility to take all protective measures to guard against viruses or other destructive elements they may encounter on these sites. Sellbig makes no warranty or representation regarding, and do not endorse any linked website or the information appearing thereon or any of the products or services described thereon.
</p>
<b>Liability</b>
<p>You agree not to hold Sellbig or any of its employees responsible or accountable for any of your listing, postings or information and nor shall we or our employees be liable for any misuse, illegal activity or third party content as most postings, listings or information are generated by various users directly and we do not have any role in the creation, publication or distribution of the posting, listing or information, nor are we in a position to have editorial control over the substance or content contained in the listings, postings, or information.
</p>
<p>You understand and agree that we do not guarantee the accuracy or legitimacy of any listing, posting or information by other users. You further agree that we are not liable for any loss of money, goodwill, or reputation, or any special, indirect, or consequential damages arising out of your use of the site or as a result of any sale, purchase of goods and services with other users of the site. We also cannot guarantee continuous or secure access to our Services. Accordingly, to the extent legally permitted we exclude all implied warranties, of merchantability, fitness or quality of the Site and our services.
</p>
<b>Indemnity</b>
</p>The User should agree to indemnify and hold Sellbig and its employees, harmless from any claim or demand, including reasonable attorney fees and court costs, made by any third party due to or arising out of content submitted by the user, user’s use of the service, violation of the terms, breach by the user of any of the representations and warranties herein, or user’s violation of any rights of another.
</p>
<b>Changes</b>
<p>We may update these terms and conditions at any time and may notify you of such updates via a post on the boards and/or through email communications. The modified terms shall come into effect either at the time you place your next posting, listing or information on the Site or after a period of 30 days from the date of the update, whichever is sooner. If we or our corporate affiliates are involved in a merger or acquisition, we may share personal information with another company, but these terms shall continue to apply. 
</p>
<b>Governing Law & Jurisdiction</b>
<p>These terms and conditions shall be governed and construed in accordance with the laws of the Republic of India and the courts at Gurgaon shall have exclusive jurisdiction on all matters and disputes arising out of and relating to the Site.
</p>
<b>Termination</b>
<p>You agree that in the event your listing, posting or your information violates any provision of the terms or of any party's rights, we shall have the right to remove any such content, terminate and or suspend your membership of the Site and refuse to provide you or any person acting on your behalf, access to the Site without prior notice or liability. We reserve the right to take down any posting, listing or information and or limit or terminate our services and further take all reasonable technical and legal steps to prevent the misuse of the Site in keeping with the letter and spirit of the terms and conditions.
</p>
<b>Contact Us</b>
<p>In the event you encounter any problems with the use of our site or services or you have any questions related to these terms you are requested to report the problem writing us at <a href="mailto:support@sellbig.in">support@sellbig.in</a> </p>
<br>
<br>
</div>
	</body>	
</html>
